* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(58, 58, 172);
  margin: 10px;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  font-size: large;
}

#large,
#medium,
#small {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin: 20px;
}

#small,
#medium {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(42, 196, 42);
  }

  main {
    flex-flow: row wrap;
    font-size: medium;
  }

  .small {
    width: calc(200% / 3);
  }

  .medium {
    width: calc(100% / 3);
  }

  .large {
    width: 100%;
  }

  #large {
    display: none;
  }

  #medium {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  body {
    background-color: rgb(128, 22, 22);
  }

  main {
    display: block;
    font-size: small;
  }

  .small,
  .medium,
  .large {
    width: 90%;
    margin: 10px;
  }

  #medium {
    display: none;
  }

  #small {
    display: block;
  }
}
